body.ap-theme {
  padding-bottom: 70px !important;
}

.ap-main-content {
  min-height: calc(100vh - 70px);
  display: flex;
}

.sidebar-left {
  flex: 0 0 250px;
}

.ap-content-wrapper {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}