// override harmony font-path
$font-path: "./plugins/nodebb-theme-ap";

// Import overrides BEFORE parent theme (contains Bootstrap variable overrides)
@import "./scss/overrides";

// Import parent theme (this will use our overridden variables)
@import "../nodebb-theme-harmony/theme";

// Import AP variables for component styles (CSS custom properties)
@import "./scss/ap_variables";

// Import AP custom component styles AFTER parent theme
@import "./scss/header";
@import "./scss/layout";
@import "./scss/navigation";
@import "./scss/categories";
@import "./scss/sidebars";